body {
  font-family: cursive;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

h1 {
  text-align: center;
}
.error {
  color: rgb(219, 47, 47);
  font-weight: 900;
}
.stock_btn {
  cursor: pointer;
}

.stock_line_btn {
  padding: 0.5rem;
}

.stock_line_btn.active {
  background-color: #1a73e8;
  color: white;
  border-color: #1a73e8;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dark_mode {
  background-color: rgb(51, 50, 50) !important;
  color: white !important;
}

.hide {
  display: none;
}

.dark_mode_svg {
  cursor: pointer;
}

.chart_section {
  margin-bottom: 3rem;
}

.line_section {
  margin-top: 5rem;
}
