body {
  background-color: #f1ecdd;
  font-family: cursive;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
  font-family: "Instrument Serif", Georgia, serif;
  font-weight: 400;
}

.preview__section {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgba(14, 20, 23, 0.16);
  margin-bottom: 3rem;
}

.preview__track {
  font-family: math;
  display: flex;
  gap: 4rem;
  animation: scroll 60s linear infinite;
  width: max-content;
}

.preview__track p {
  margin: 0.5rem 0;
}

h1 {
  text-align: center;
}
.error {
  color: rgb(219, 47, 47);
  font-weight: 900;
}

.line__header__period {
  border: 1px solid #cdc9bb;
  border-radius: 2rem;
  padding: 0.2rem;
  display: flex;
  column-gap: 1rem;
}

.mixed__header__period {
  border: 1px solid #cdc9bb;
  border-radius: 2rem;
  padding: 0.2rem;
  display: flex;
  column-gap: 1rem;
}

.bubble__header__period {
  border: 1px solid #cdc9bb;
  border-radius: 2rem;
  padding: 0.2rem;
  display: flex;
  column-gap: 1rem;
}

.stock_btn {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  border: none;
  border: 1px solid #2a2f33;
}

.stock_chart_btn {
  font-size: 2rem;
  font-style: italic;
}

.stock_chart_btn.active {
  background-color: #2a2f33;
  color: white;
}

.stock_btn:hover {
  background-color: #2a2f33;
  color: white;
}
.stock_line_btn.active {
  background-color: #2a2f33;
  color: white;
}

.stock_bubble_btn.active {
  background-color: #2a2f33;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.dark_mode {
  background-color: rgb(73 71 71) !important;
  color: white !important;
}

.charts_select__button {
  display: flex;
  column-gap: 2rem;
}

.hide {
  display: none;
}

.dark_mode_svg {
  cursor: pointer;
}

.chart_section {
  margin-bottom: 3rem;
}

.line_section {
  margin-top: 5rem;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.chart {
  width: 55rem !important;
  height: auto !important;
  border-bottom: 1px solid #cdc9bb;
  padding-bottom: 2rem;
}

.chart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts_section {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.chart__card {
  background: rgba(255, 255, 255, 0.55);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(14, 20, 23, 0.16);
}

.charts_button {
  display: flex;
  column-gap: 0.5rem;
}

.chart__period__button {
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background: none;
  font-size: 0.7rem;
}

.chart__period__button.active {
  background-color: #2a2f33;
  color: white;
}
.track {
  font-style: italic;
}

.track__good {
  color: #5bd7a4;
}

.track__bad {
  color: #e7093a;
}

.chart__span {
  font-style: italic;
  font-weight: 100;
}

.chart__footer_card_bloc {
  display: flex;
}

.chart__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.chart__footer_card {
  width: 12rem;
}

.chart__export_button {
  width: 2.4rem;
  background-color: none;
  cursor: pointer;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
